header {
  background-color: $color-background;
  height: 8vh;
  outline: 1px solid $color-tertiary;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include screen('desktop') {
    height: 10vh;
  }
}