header {
  height: 8vh;
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background;
  outline: 1px solid $color-tertiary;

  @include screen('desktop') {
    height: 10vh;
  }
}