.button--primary {
  @include font-button(white, $font-size-md);

  button {
    all: unset;
    background-color: $color-primary;
    border: 0.08rem solid $color-tertiary-op;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 1rem 2.8rem;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }

  button:hover {
    background-color: $color-secondary;
  }
}

.button--secondary {
  @include font-button(black, $font-size-xs);
  
  button {
    all: unset;
    background-color: white;
    border: 0.08rem solid $color-tertiary-op;
    border-radius: 2rem;
    padding: 0.5rem 1.4rem;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }

  button:hover {
    background-color: $color-secondary;
    color: white;
  }
}