.contact__title {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;

  h2 {
    @include font-subtitle(white);
    width: 45vw;
  }

  span {
    width: 55vw;
    height: 0.30rem;
    background-color: $color-tertiary-op;
  }
}