.contact__things {
  width: 100vw;
  

  .contact__things__elements {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 1.5rem;

    a {
      @include font-caption($color-secondary);
      border: 1px solid $color-tertiary;
      padding: 0.6rem;
      opacity: .8;
      margin: 0.5rem 1rem 0.5rem 0;
    }

    a:hover {
      opacity: 1;
      cursor: pointer;
      color: green;
    }
  }
}