.contact__subtitle {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h3 {
    @include font-heading($color-tertiary);
    margin: 0 1.5rem;
  }

  .highlight {
    color: $color-secondary;
  }
}