.contact__things {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include margin($spacing-md, 0);

  a {
    @include font-heading($color-tertiary);
    font-size: $font-size-xs;
    border: 1px solid $color-tertiary;
    padding: 0.6rem;
    opacity: .8;
    @include margin($spacing-xs, $spacing-xs);
  }

  a:hover {
    opacity: 1;
    cursor: pointer;
    color: white;
    background-color: $color-secondary;
  }
}