.contact__subtitle {
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h3 {
    @include font-caption(white);
  }

  .highlight {
    color: $color-secondary;
  }
}