.ham__logo {
  height: 50%;
  display: flex;
  margin: 0 1rem;

  img {
    width: auto;
    height: 100%;
    cursor: pointer;
  }
}

@include screen('tablet') {
  .ham__logo {
    display: none;
  }
}