.header__ham {
  height: 35%;
  display: flex;
  @include margin(0, $spacing-sm);

  img {
    width: auto;
    height: 100%;
    cursor: pointer;
  }
}

@include screen('tablet') {
  .header__ham {
    display: none;
  }
}