.header__logo {
  height: 35%;
  display: flex;
  @include margin(0, $spacing-sm);

  img {
    width: auto;
    height: 100%;
  }
}

@include screen('tablet') {
  .header__logo {
    height: 40%;
  }
}