.header__nav {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-primary;

  p {
    @include margin($spacing-sm, $spacing-md);
    @include font-nav(white);

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

@include screen('tablet') {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    width: 66vw;
    height: 50%;
    background-color: $color-primary;

    p {
      font-size: $font-size-sm;
    }
  }
}