.home__title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    @include font-title(white);
    margin: 2rem 0 0.5rem 0;
  }

  h2 {
    @include font-heading($color-tertiary);
  }

  p {
    @include font-paragraph(white);
    width: 80vw;
    text-align: center;
    margin: 1rem 0;
  }

  .highlight {
    color: $color-secondary;
  }
}