.home__social {
  display: flex;
  justify-content: space-between;
  width: 13rem;
  @include padding($spacing-md, $spacing-md);
  @include margin($spacing-sm, 0);

  img {
    width: 2rem;
    height: auto;
  }
}