.home__logo {
  @include margin($spacing-md, $spacing-md);
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .line {
    width: 30vw;
    height: 0.30rem;
    background-color: $color-tertiary-op;
  }

  img {
    width: 5.5rem;
    height: auto;
  }
}