.home__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-family: 'font-primary';
    font-size: $font-size-lg;
    margin: 0.5rem;
  }

  h2 {
    font-family: 'font-tertiary';
    font-size: 0.8rem;
    color: $color-tertiary;
  }

  .highlight {
    color: $color-secondary;
  }
}