.home__title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-family: 'font-primary';
    font-size: $font-size-lg;
    margin: 2rem 0 0.5rem 0;
  }

  h2 {
    font-family: 'font-tertiary';
    font-size: $font-size-b;
    color: $color-tertiary;
  }

  p {
    width: 80vw;
    font-family: 'font-secondary';
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 300;
  }

  .highlight {
    color: $color-secondary;
  }
}