.home__logo {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid yellow;

  .line {
    width: 30vw;
    height: 1vw;
    background-color: $color-tertiary;
  }

  img {
    width: 20vw;
    height: auto;
  }
}