.home__button {

  button {
    all: unset;
    color: white;
    background-color: $color-primary;
    font-family: 'font-secondary';
    font-size: 1.2rem;
    border: 1px solid $color-tertiary-op;
    padding: 0.6rem 1.5rem;
    font-weight: 500;
  }

  button:hover {
    background-color: $color-focus1;
  }
}