nav {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-primary;
  color: white;

  p {
    margin: 0 2rem;
    font-size: 1.2em;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $color-secondary;
    }
  }
}

@include screen('tablet') {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    width: 66vw;
    height: 50%;
    background-color: $color-primary;
  }
}