nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-primary;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin: 2rem;
    font-size: 2rem;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $color-secondary;
    }
  }
}