// HEROSWIM
.anim--heroswim {
  animation: heroSwim 120s linear infinite;
}
@keyframes heroSwim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

///
.anim--titleFadeIn {
  opacity: 0;
  animation: titleFadeIn 1.5s ease-out 1.3s forwards;
}
@keyframes titleFadeIn {
  to {
    opacity: 1;
  }
}

///
.anim--logoSlideIn {
  opacity: 0;
  transform: translateY(-50vh);
  animation: logoSlideIn .8s ease-out forwards;
}
@keyframes logoSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

///
.anim--lineLeftSlideIn {
  opacity: 0;
  transform: translateX(-100vh);
  animation: lineLeftSlideIn 1.2s ease-out forwards;
}
@keyframes lineLeftSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

///
.anim--lineRightSlideIn {
  opacity: 0;
  transform: translateX(100vh);
  animation: lineRightSlideIn 1.2s ease-out forwards;
}
@keyframes lineRightSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

///
.anim--subTitleFadeIn {
  opacity: 0;
  animation: subTitleFadeIn 1.5s ease-out 1.8s forwards;
}
@keyframes subTitleFadeIn {
  to {
    opacity: 1;
  }
}