// SPACING
$spacing-xs: 0.5rem;  // 8px
$spacing-sm: 1rem;    // 16px
$spacing-md: 2rem;    // 32px
$spacing-lg: 3rem;    // 48px
$spacing-xl: 4rem;    // 64px
$spacing-xxl: 5rem;   // 80px

// MARGIN
@mixin margin($vertical, $horizontal) {
  margin: $vertical $horizontal;
}

// PADDING
@mixin padding($vertical, $horizontal) {
  padding: $vertical $horizontal;
}