// FONT-SIZE
$font-size-b: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-sm: 1.75rem;
$font-size-md: 2rem;
$font-size-lg: 2.25rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// DISPLAY
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}