// FONT-SIZE
$font-size-b: 0.8rem;
$font-size-xs: 1.25rem;
$font-size-sm: 1.75rem;
$font-size-md: 2rem;
$font-size-lg: 2.25rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// BORDER
$border-size-sm: 0.08rem;
$border-size-md: 0.1rem;
$border-size-lg: 0.2rem;

// DISPLAY
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}