$color-primary: #151A23;
$color-secondary: #FD6B00;
$color-tertiary: #A5A6A9;
$color-tertiary-op: rgba($color-tertiary, 0.5);

$color-focus1: #347d39;
$color-focus2: #007aff;
$color-background: #212830;