* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: white;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}