$font-primary: "../assets/fonts";
@font-face {
  src: url(#{$font-primary}/righteous-regular.ttf);
  font-family: 'font-primary';
}

$font-secondary: "../assets/fonts";
@font-face {
  src: url(#{$font-secondary}/Montserrat-VariableFont_wght.ttf);
  font-family: 'font-secondary';
}

$font-tertiary: "../assets/fonts";
@font-face {
  src: url(#{$font-secondary}/Pressstart2P-Regular.ttf);
  font-family: 'font-tertiary';
}

// FONT-SIZE SCALE
$font-size-xxs: 0.625rem;   // 10px
$font-size-xs: 0.75rem;     // 12px
$font-size-sm: 0.875rem;    // 14px
$font-size-md: 1rem;        // 16px
$font-size-lg: 1.25rem;     // 20px
$font-size-xl: 1.5rem;      // 24px
$font-size-xxl: 2rem;       // 32px
$font-size-xxxl: 2.5rem;    // 40px

@mixin font-title($color) { // Nagy főcím, például kezdőlapon a hero szöveg
  font-size: $font-size-xxxl;
  font-family: 'font-primary';
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}

@mixin font-subtitle($color) { // Alcím, kisebb cím a title alatt vagy szekciók fölött
  font-size: $font-size-xxl;
  font-family: 'font-primary';
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}

@mixin font-heading($color) { // Kisebb szekciócímek, pl. H2, H3
  font-size: $font-size-sm;
  font-family: 'font-tertiary';
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}

@mixin font-paragraph($color) { // Alap bekezdés szöveg
  font-size: $font-size-sm;
  font-family: 'font-secondary';
  font-weight: 300;
  line-height: 1.5;
  color: $color;
}

@mixin font-caption($color) { // Apróbb szövegek, pl. dátum, meta info
  font-size: $font-size-sm;
  font-family: 'font-secondary';
  font-weight: 400;
  line-height: 1.5;
  color: $color;
}

@mixin font-nav($color) { // Navigációs menüpont
  font-size: $font-size-xl;
  font-family: 'font-tertiary';
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}

@mixin font-hero($color) { // Hero szöveg
  font-size: 18rem;
  font-family: 'font-primary';
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}

@mixin font-button($color, $font-size) { // Gomb felirat
  font-size: $font-size;
  font-family: 'font-secondary';
  font-weight: normal;
  color: $color;
}